@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Playfair+Display&family=Roboto:wght@100&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Roboto:wght@100&family=Work+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Playfair+Display&family=Roboto:wght@100&family=Work+Sans:wght@500&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body .wrapper__main {
  position: relative;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
  overflow: hidden;
}

body .wrapper__main .wrapper__header {
  max-width: 1366px;
  width: 100%;
  margin: 30px auto;
}

body .wrapper__main .wrapper__header .wrapper__header__inner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

body .wrapper__main .wrapper__header .wrapper__header__inner .navbar__item--props {
  font-family: "Work Sans";
  font-size: 14px;
  color: #5f5f5f;
}

body .wrapper__main .wrapper__project {
  max-width: 1366px;
  width: 100%;
  background-color: #f6f6f6;
  padding: 90px 0;
}

@media only screen and (max-width: 992px) {
  body .wrapper__main .wrapper__project {
    padding: 45px 0;
  }
}

@media only screen and (max-width: 441px) {
  body .wrapper__main .wrapper__project {
    padding: 20px;
  }
}

body .wrapper__main .wrapper__project .wrapper__project__inner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

body .wrapper__main .wrapper__project .wrapper__project__inner .h1--props {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 441px) {
  body .wrapper__main .wrapper__project .wrapper__project__inner .h1--props {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

body .wrapper__main .wrapper__project .wrapper__project__inner .project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .wrapper__main .wrapper__project .wrapper__project__inner .project__content .text__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

body .wrapper__main .wrapper__project .wrapper__project__inner .project__content .text__container .paragraph--props {
  font-family: "Work Sans";
  font-size: 15px;
  margin-bottom: 30px;
}

body .wrapper__main .wrapper__project .wrapper__project__inner .project__content .metadata__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

body .wrapper__main .wrapper__project .wrapper__project__inner .project__content .metadata__container .span--props {
  font-family: "Work Sans";
  font-size: 15px;
}

body .wrapper__main .wrapper__video_container {
  position: relative;
  max-width: 1366px;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

body .wrapper__main .wrapper__video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .wrapper__main .wrapper__loadMore {
  max-width: 1366px;
  width: 100%;
  padding: 46px;
  text-align: center;
}

body .wrapper__main .wrapper__loadMore .wrapper__loadMore__inner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper__main .wrapper__loadMore .wrapper__loadMore__inner .control__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: black;
}

body .wrapper__main .wrapper__loadMore .wrapper__loadMore__inner .control__container .control_prev--props {
  margin-right: 15px;
}

body .wrapper__main .wrapper__loadMore .wrapper__loadMore__inner .control__container .control_next--props {
  margin-left: 15px;
}

body .wrapper__main .wrapper__loadMore .wrapper__loadMore__inner .paragraph--props {
  font-family: "Work Sans" medium;
  font-size: 14px;
  color: black;
}

body .wrapper__main .wrapper__loadMore .wrapper__loadMore__inner .hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 445px) {
  body .wrapper__main .wrapper__loadMore .wrapper__loadMore__inner .hide {
    display: none;
  }
}

body .wrapper__main .wrapper__footer {
  max-width: 1366px;
  width: 100%;
  background-color: #ebebeb;
  padding: 50px;
  text-align: center;
}

@media only screen and (max-width: 441px) {
  body .wrapper__main .wrapper__footer {
    padding: 20px;
  }
}

body .wrapper__main .wrapper__footer .icon__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

body .wrapper__main .wrapper__footer .icon__wrapper .icon--spacing {
  margin: 10px;
}
/*# sourceMappingURL=singlework.css.map */